body	{
	background-color: black !important;
}

.container-fluid {
	/*margin: 0px 500px 50px 500px !important;*/
	margin-bottom: 50px;
	width: 60%;
}

.one    {
    background: url("../imgs/danielle_bg.jpg");
}

.two    {
    background: url("../imgs/danielle_bg2.jpg");
}

.three    {
    background: url("../imgs/danielle_bg3.jpg");
}

.four    {
    background: url("../imgs/danielle_bg4.jpg");
}

.five    {
    background: url("../imgs/danielle_bg5.jpg");
}

.six    {
    background: url("../imgs/danielle_bg6.jpg");
}

.carousel-item    {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;  
}

a#title	{
	text-align: center;
	display:block;
	color: white;
	font-size: 24px;
	letter-spacing: 13.5px;
	font-family: "Quicksand", sans-serif;
	text-shadow: 0 0 10px teal, 0 0 10px gold;
}

a#title:hover	{
	text-decoration: none;
}

hr	{
	opacity: 0.25;
	background-color: white;
}

nav	{
	text-align: center;
	color: white;
	font-family: "Quicksand", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 0em;
	font-weight: normal;
}

nav > ul 	{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

nav > ul > li {
	display: inline;
}

nav > ul > li .rmarg {
	margin-right:20px;
}

nav > ul > li > a#selected {
	color: #b39a6b;
	opacity: 1.0;
}

nav > ul > li > a:link {
	color: white;
	opacity: 0.7;
	text-decoration: none;
}

nav > ul > li > a:visited {
	color: white;
	opacity: 0.7;
}

nav > ul > li > a:hover {
	color: white;
	opacity: 1.0;
	text-decoration: none;
}

div#social {
	position: absolute;
	left: 15px;
	bottom: 15px;
}

div#social > a {
	margin-right: 5px;
}

i.fa {
	color: white;
	opacity: 0.5;
}

i.fa:hover {
	opacity: 1.0;
}

img {
	/*border: 2px double gray !important;*/
	width: 100%;
}

.scroller {
	overflow-x: auto;
	overflow-y: hidden;
    white-space: nowrap;
	width:100%;
	/*height:500px;*/
}

.scroller > img {
	max-width:250px;
	/*max-height: 200px;*/
	/*object-fit: contain;*/
	/*object-position: center; */
}

label,small {
	color: gray;
	font-family: "Quicksand", sans-serif;
	/*font-size: 12px;*/
}

.item {
  position: relative;
  /*border: 1px solid #333;*/
  margin: 2%;
  overflow: hidden;
  /*width: 100px;*/
  float:left;
}

.album	{
	object-fit: cover;
	/*width:100%;*/
	height:120px;
	  /*max-height:200px;*/
	  /*object-fit: contain;*/
  /*overflow:hidden;*/
}


.album {
  max-width: 100%;
  
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.album:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.caps {
	width:200px;
	background-color: teal;
  float:left;
}

.work	{
	object-fit: cover;
	/*width:200px;*/
	/*height:150px;*/
	  /*max-height:200px;*/
	  /*object-fit: contain;*/
  /*overflow:hidden;*/
}

.work {
  max-width: 100%;
  
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.work:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* width */
.scroller::-webkit-scrollbar {
  background-color: black;
  height: 3px;
}
 
/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: grey; 
  /*-webkit-transition: background-color 2s ease-out;*/
  /*-moz-transition: background-color 2s ease-out;*/
  /*-o-transition: background-color 2s ease-out;*/
  /*transition: background-color 2s ease-out;*/
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  /*background-color: white;*/
  /*cursor: pointer;*/
}

figcaption {
	color: white;
	font-family: "Quicksand", sans-serif;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	/*font-weight: bold;*/
}
