<!DOCTYPE html>
<html>
<head>
	<title>Danielle Deering | About</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link id="sitefonts" href="https://fonts.googleapis.com/css?subset=latin,latin-ext,greek,cyrillic&amp;family=Open+Sans:regular|Quicksand:700%2Cregular" rel="stylesheet" type="text/css">

<body>
	
<div class="container-fluid">
	<div class="row">
		<br><br><a href="index.html" id="title">DANIELLE DEERING</a>
		<hr size=1>
		<nav>
			<ul>
				<li><a class="rmarg" href="index.html">HOME</a></li>
				<li><a id="selected" class="rmarg" href="#">ABOUT</a></li>
				<li><a class="rmarg" href="works.html">WORKS</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</nav>
		<hr size=1>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<img src="../static/imgs/danielle_about.jpg">
		</div>
		<div class="col-md-6"><br><br><br><br><br><br><br><br>
			Born in Oklahoma and raised in rural New Jersey, Deering received a BFA degree in lens-based visual arts from The College of New Jersey in 2018. Raised in a family of artists and nature-enthusiasts alike, Deering grew up creating detail oriented drawings of the animals and landscapes that surrounded her. Since then, she has moved toward photography, still continuing to draw from her familial ties to the natural world and the beauty it encompasses. Whether it be through abstraction, recreation, or documentary; her work captures the mystery and oddity of the world outside man's creation.
		</div>
	</div>
</div>

<div id="social">
	<a href="https://www.instagram.com/danielledeeringart/"><i class="fa fa-instagram"></i></a>
	<a href="https://www.flickr.com/people/150723115@N06/"><i class="fa fa-flickr"></i></a>
	<a href="https://www.linkedin.com/in/deerind1/"><i class="fa fa-linkedin"></i></a>
	<a href="https://open.spotify.com/user/deerdanielle"><i class="fa fa-spotify"></i></a>
	<a href="mailto:deerind1@tcnj.edu" target="_top"><i class="fa fa-envelope"></i></a>
</div>

</body>


</html>