<!DOCTYPE html>
<html>
<head>
	<title>Danielle Deering | Contact</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link id="sitefonts" href="https://fonts.googleapis.com/css?subset=latin,latin-ext,greek,cyrillic&amp;family=Open+Sans:regular|Quicksand:700%2Cregular" rel="stylesheet" type="text/css">

<body>
<p id="title">DANIELLE DEERING</p>
<hr size=1>
<nav>
	<ul>
		<li><a class="rmarg" href="index.html">HOME</a></li>
		<li><a class="rmarg" href="about.html">ABOUT</a></li>
		<li><a class="rmarg" href="works.html">WORKS</a></li>
		<li><a id="selected" href="#">CONTACT</a></li>
	</ul>
</nav>
<hr size=1>

<div class='box'>
	
</div>

<div id="social">
	<a href="https://www.facebook.com/danielle.deering.7"><i class="fa fa-facebook"></i></a>
	<a href="https://www.flickr.com/people/150723115@N06/"><i class="fa fa-flickr"></i></a>
	<a href="https://www.instagram.com/danielledeeringart/"><i class="fa fa-instagram"></i></a>
	<a href="https://www.linkedin.com/in/deerind1/"><i class="fa fa-linkedin"></i></a>
	<a href="https://open.spotify.com/user/deerdanielle"><i class="fa fa-spotify"></i></a>
	<a href="mailto:deerind1@tcnj.edu" target="_top"><i class="fa fa-envelope"></i></a>
</div>

</body>


</html>