<!DOCTYPE html>
<html>
<head>
	<title>Danielle Deering | Home</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link id="sitefonts" href="https://fonts.googleapis.com/css?subset=latin,latin-ext,greek,cyrillic&amp;family=Open+Sans:regular|Quicksand:700%2Cregular" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/css/sty.css">
</head>

<body>

	<div id="bg-carousel" class="carousel slide carousel-fade" data-interval=5000 data-ride="carousel" data-pause="false">
	    <div class="carousel-inner">
			<div class="carousel-item one active"></div>
			<div class="carousel-item two"></div>
			<div class="carousel-item three"></div>
			<div class="carousel-item four"></div>
			<div class="carousel-item five"></div>
			<div class="carousel-item six"></div>
	    </div>
	</div>

	<div class="container-fluid header">
		<div class="row">
			<a id="title" class="mx-auto" href="index.html"><span id="spacer">DANIELLE DEERIN</span>G</a>
		</div>
		<hr class="hr2">
		<div class="row">
			<nav class="mx-auto">
				<ul>
					<li><a id="selected" class="rmarg" href="#">HOME</a></li>
					<li><a class="rmarg" href="about.html">ABOUT</a></li>
					<li><a class="rmarg" href="works.html">WORKS</a></li>
					<li><a href="contact.html">CONTACT</a></li>
				</ul>
			</nav>
		</div>
		<hr class="hr2">
	</div>

	<div id="social">
		<a href="https://www.instagram.com/danielledeeringart/"><i class="fa fa-instagram"></i></a>
		<a href="https://www.flickr.com/people/150723115@N06/"><i class="fa fa-flickr"></i></a>
		<a href="https://www.linkedin.com/in/deerind1/"><i class="fa fa-linkedin"></i></a>
		<a href="https://open.spotify.com/user/deerdanielle"><i class="fa fa-spotify"></i></a>
		<a href="mailto:deerind1@tcnj.edu" target="_top"><i class="fa fa-envelope"></i></a>
	</div>

</body>
</html>