<!DOCTYPE html>
<html>
<head>
	<title>Danielle Deering | Works</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link id="sitefonts" href="https://fonts.googleapis.com/css?subset=latin,latin-ext,greek,cyrillic&amp;family=Open+Sans:regular|Quicksand:700%2Cregular" rel="stylesheet" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<body>

<div class="container-fluid">
	<div class="row">
		<br><br><a href="index.html" id="title">DANIELLE DEERING</a>
		<hr size=1>
		<nav>
			<ul>
				<li><a class="rmarg" href="index.html">HOME</a></li>
				<li><a class="rmarg" href="about.html">ABOUT</a></li>
				<li><a id="selected" class="rmarg" href="#">WORKS</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</nav>
		<hr size=1>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 scroller">
			<img class="work" src="../static/imgs/danielle_contact.jpg">
			<img class="work" src="../static/imgs/danielle_about.jpg">
			<img class="work" src="../static/imgs/danielle_contact.jpg">
			<img class="work" src="../static/imgs/danielle_about.jpg">
			<img class="work" src="../static/imgs/danielle_contact.jpg">
			<img class="work" src="../static/imgs/danielle_about.jpg">
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="item"><img class="album" src="../static/imgs/danielle_bg2.jpg"></div>
			<div class="item"><img class="album" src="../static/imgs/danielle_bg3.jpg"></div>
			<div class="item"><img class="album" src="../static/imgs/danielle_bg4.jpg"></div>
			<div class="item"><img class="album" src="../static/imgs/danielle_bg5.jpg"></div>
		</div>
	</div>
</div>

<div id="social">
	<a href="https://www.instagram.com/danielledeeringart/"><i class="fa fa-instagram"></i></a>
	<a href="https://www.flickr.com/people/150723115@N06/"><i class="fa fa-flickr"></i></a>
	<a href="https://www.linkedin.com/in/deerind1/"><i class="fa fa-linkedin"></i></a>
	<a href="https://open.spotify.com/user/deerdanielle"><i class="fa fa-spotify"></i></a>
	<a href="mailto:deerind1@tcnj.edu" target="_top"><i class="fa fa-envelope"></i></a>
</div>

</body>
<script type="text/javascript">

	$('.scroller').mousewheel(function(e, delta) {
	    $(this).scrollLeft(this.scrollLeft + (-delta * 40));
	    e.preventDefault();
	});

</script>

</html>